SECURITY__JWT_SECRET_KEY=DVnFmhwvjEhJZpuhndxjhlezxQPJmBIIkMDEmFREWQADPcUnrG
OPENAI__API_KEY="cb4b1a0311454198ad4c9c42e9c4e5d7"
BLOB_STORAGE__CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=ensind2026;AccountKey=oL6Wbsad9VgrRVnuRHND7lZ89/nDWHA54JsjeWfgI0i522miGGzSafpkA3tohIxSYo8eKEVG1fPB+AStV6JScw==;EndpointSuffix=core.windows.net"
